body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#menu, #gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#menu.active, #gameOver.active {
  display: block;
}

canvas {
  display: block;
  margin: 50px auto;
  background: #222;
  border: 3px solid white;
}

#loader {
  font-size: 24px;
  margin-top: 20%;
}
